body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    background-color: black;
    border: 2px solid #697565;
    border-radius: 15px;
    padding: 5px 8px;
    text-align: center;
    max-width: 350px;
    margin: 20px;
    justify-content: center;
  }
  .kembali {
    display: flex;
    justify-content: right;
    margin-right: 5px;
  }
  
  .kembali a {
    font-size: 1.7em;
    color: #697565;
    text-decoration: none;
  }
  
  .kembali a:hover {
    color: #aabda3;
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .title {
    font-size: 24px;
    font-weight: 700;
    color: #ecdfcc;
  }
  
  .input-field {
    box-sizing: border-box;
    width: 85%;
    padding: 7px;
    padding-left: 25px;
    margin: 6px auto;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    color: #3c3d37;
    background-color: #ffffff;
    font-weight: 400;
  }
  
  .continue-button {
    background-color: black;
    border: 2px solid #697565;
    color: #ecdfcc;
    padding: 8px 25px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    margin: 3px;
    font-weight: 500;
  }
  
  .continue-button:hover {
    background-color: #697565;
  }
  
  .or {
    display: flex;
    align-items: center;
    text-align: center;
    color: #ecdfcc;
    margin: 6px auto;
    width: 85%;
  }
  
  .or::before,
  .or::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ecdfcc;
  }
  
  .or:not(:empty)::before {
    margin-right: 0.25em;
  }
  
  .or:not(:empty)::after {
    margin-left: 0.25em;
  }
  
  .continue {
    display: flex;
    background-color: #3c3d37;
    color: #ecdfcc;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    padding: 7px 20px;
    margin: 6px auto;
    display: flex;
    align-items: center;
    text-align: left;
    width: 85%;
    gap: 10px;
    border: none;
    outline: none;
    font-weight: 400;
  }
  
  .continue-icon {
    font-size: 1.5em;
  }
  .continue:hover {
    color: #7c7e71;
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 120px;
    background-color: #3c3d37;
    padding: 10px 0;
  }
  
  footer ul {
    margin: 0 0 10px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
  footer ul li {
    list-style-type: none;
    font-size: 1.5em;
    margin: 0 20px;
  }
  
  footer ul li i {
    color: #ecdfcc;
  }
  
  footer p {
    margin: 20px;
    font-weight: 400;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: black;
    color: #ecdfcc;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #697565;
    border-radius: 15px;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  
  .close {
    color: #ecdfcc;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #b7aea0;
    text-decoration: none;
  }
  
  #modal-message {
    font-size: 18px;
    margin-top: 10px;
  }
  